/*******************************************************************
GENERAL
*******************************************************************/

/*body{*/
    /*width:100vw;*/
/*}*/

/********************************
BayMath
*********************************/

@media screen and (min-width : 320px){
    .bigHero1{
        display:none;
    }
    .bigHero {
        display: block;
        width: 100vw;
        position: relative;
        top: 4vw;
    }
    #soloBay{
        width: 100vw;
        height:100vh;
        position: relative;
    }

    .calc{
        height: 65%;
        right: 2%;
        position:relative;
    }
    .face{
        height: 4%;
        width: 11%;
        /* border: 1px solid blue; */
        position: absolute;
        top: 8%;
        left: 50%;
        transform: rotate(6deg);
    }
    .eye{
        border-radius: 100%;
        background: black;
        width: 22%;
        height: 74%;
        max-width:22%;
        max-height:74%;
    }
    .eye:last-child {
        position: absolute;
        right: 0;
        top: 0;
    }
    .eyeBlink{
        transform: scale(1,.05);
    }
    .mouth{
        background: black;
        height: 4%;
        top: 38%;
        left: 0;
        position: absolute;
        width: 89%;
        margin: 0 2.5%;
    }
    .screen{
        height: 14%;
        width: 33%;
        border: 1px solid gray;
        border-radius: 25%;
        position: absolute;
        top: 20%;
        left: 38%;
        font-size: 3vw;
        text-align: center;
        word-wrap: break-word;
    }
    .numbers{
        height: 30%;
        width: 46%;
        /* border: 1px solid blue; */
        position: absolute;
        top: 36%;
        left: 33%;

    }
    .btn{
        border-radius: 50%;
        width: 23%;
        font-size: 80%;
    }
    .zero{
        width:46%;
    }

}

@media screen and (min-width : 568px) {
    .bigHero1{
        display: block;
        width: 100vw;
        position: relative;
        top: 4vw;
        padding-left:6%;
    }
    .bigHero{
        display:none;
    }
    #soloBay1{
        width: 100vw;
        height:100vh;
        position: relative;
    }

    .calc{
        height: 65%;
        right: 2%;
        position:relative;
    }
    .face{
        height: 4%;
        width: 7%;
        /* border: 1px solid blue; */
        position: absolute;
        top: 9%;
        left: 50%;
        transform: rotate(6deg);
    }


    .eye{
        border-radius: 100%;
        background: black;
        width: 19%;
        height: 74%;
        max-width: 22%;
        max-height: 74%;
    }
    .eye:last-child {
        position: absolute;
        right: 0;
        top: 0;
    }
    .eyeBlink{
        transform: scale(1,.05);
    }
    .mouth{
        background: black;
        height: 4%;
        top: 38%;
        left: 0;
        position: absolute;
        width: 89%;
        margin: 0 2.5%;
    }
    .screen{
        height: 15%;
        width: 18%;
        border: 1px solid gray;
        border-radius: 25%;
        position: absolute;
        top: 20%;
        left: 44%;
        font-size: 3vw;
        text-align: center;
        word-wrap: break-word;
    }
    .numbers{
        height: 26%;
        width: 26%;
        /* border: 1px solid blue; */
        position: absolute;
        top: 36%;
        left: 40%;
    }
    .btn{
        border-radius: 50%;
        width: 24%;
        font-size: 80%;
    }
    .zero{
        width:46%;
    }


}



