body{
    height: 100vh;
    width: 100vw;
}
.face {
    width: 17%;
    height: 150px;
    border: 1px solid black;
    border-radius: 100%;
    position: relative;
    background-color: white;
    left: 41%;
    top: 26px;
    z-index: 2;
}

.container-fluid { /*body of calculator*/
    position:relative;
    width: 26%;
    height: 70%;
    border: 1px black solid;
    border-radius: 100%;
}
.calc_body { /*div holding all the buttons*/
    width: 80%;
    height: 250px;
    position: relative;
    left: 12%;
    top: 18%;
    text-align: center;
    font-size: 8vh;
}
.row { /*class for the row of buttons*/
    position: relative;
    width: 100%;
}
div.col-xs-12 { /*display row*/
    border:1px solid black;
    border-radius: 30%;
    margin: .5%;
    width: 20vw;
}
div.col-xs-3 { /*container for button*/
    position: relative;
    border-radius: 56%;
    height:100%;
    margin:.5%;
    width:23%;
}
.col-xs-3 button { /*button*/
    position: relative;
    border-radius: 56%;
    height: 6vh;
    margin: .5%;
    width: 4vw;
    padding:0;
    background-color: transparent;
    font-size: 2.25vh;

}
div.col-xs-6 { /*zero div*/
    position: relative;
    border-radius: 48%;
    height:100%;
    margin:.5%;
    width:47%;
    font-size: 2.25vh;
}
.col-xs-6 button { /*zero button*/
    position: relative;
    border-radius: 48%;
    height:6vh;
    margin:.5%;
    width:8vw;
    padding: 0;
    background-color: transparent;
}
#display{
    height: 5vh;
    font-size: 4vh;
}
.eye_mouth{
    height: 20%;
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    width: 50%;
    left: 50%;
}
.eye{
    border-radius: 100%;
    background: black;
    width: 1.5vw;
    height: 1.5vw;
}
.eye:last-child{
    position:absolute;
    right:0px;
    top: 0px;
}
.face_line{
    background: black;
    height: 3px;
    top: 50%;
    left: 0;
    position: absolute;
    width: 90%;
    margin: 0 2.5%;

}
.eye_blink{
    transform: scale(1,.05);
}


